<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-info">
    {% assign tot_papers = site.papers | size %}
        {% assign with_code = site.papers |  where_exp:"paper",
"paper.code" | size %}
        A systematic view of {{tot_papers}} papers ({{with_code}} with
        code) about probabilistic
    circuits.

    Done by <a href="http://web.cs.ucla.edu/~aver/">AV</a>, 2020-{{
    'now' | date: "%Y" }} 

    <div class="social-info">
    {%- if site.github_username -%}<a href="https://github.com/{{
    site.github_username| cgi_escape | escape
    }}"><svg class="svg-icon"><use xlink:href="{{
    '/assets/minima-social-icons.svg#github' | relative_url
    }}"></use></svg> <span class="username">{{ site.github_username|
          escape }}</span></a>{%- endif -%}
    </div>

    <div class="social-info">
    {%- if site.twitter_username
    -%}<a href="https://www.twitter.com/{{ site.twitter_username|
    cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{
    '/assets/minima-social-icons.svg#twitter' | relative_url
    }}"></use></svg> <span class="username">{{ site.twitter_username|
        escape }}</span></a>{%- endif -%}
    </div>
    </div>
    
  </div>

</footer>
