{% assign paper = include.paper %}
<div class="paper">
  <div class="paper-data">
    <div class="paper-meta">
    <div class="paper-venue">
      {{ paper.venue }}
    </div>
    <div class="tags">
      {%- for t in paper.tags -%}
      <span class={{t}}><a href="./topics#{{t}}">{{t}}</a></span>
      {%- endfor -%}
    </div>
    </div>
      <div class="paper-title" id="{{paper.ref}}">
      {{ paper.title | escape}}
      </div>
    <div class="paper-authors">
      {{ paper.authors }}
    </div>
    [ <a href="{{ paper.pdf }}">paper</a> |
    <a href="#{{paper.ref}}" class="bibtex">bibtex </a>
    {%- if paper.code -%}
    | <a href="{{ paper.code }}">code </a> 
    {%- endif -%}
    {%- if paper.abstract -%}
    | <a href="#{{paper.ref}}" class="abstract">abstract </a>
    {%- endif -%}
    {%- if paper.supplemental -%}
    | <a href="#" class="supplemental">supplemental </a>
    {%- endif -%}
    ]
    <div class="paper-abstract">
      <pre><code>
          {{ paper.abstract | lstrip  }}
      </code></pre>
    </div>
    <div class="paper-bibtex">
      <pre><code>
          {{ paper.bibtex | lstrip }}                
      </code></pre>
    </div>
  </div>
</div>

