{% assign topic = include.topic %}
{% assign topic_display = include.name %}


{% assign sorted = site.papers | sort: 'date' | reverse %}
{% assign atleastone = "no" %}
<!-- {% assign atleastone = sorted | find_exp:"paper", "paper.tags contains topic" %} -->
{% for p in sorted %}
    {% if p.tags contains topic %}      
    {% assign atleastone = "yes" %}   
    {% endif %}
{% endfor %}


{% if atleastone == "yes" %}
    <h3 class="paper-list-heading" id="{{topic}}">{{topic_display}}</h3>
{% endif %}

<ul class="paper-list">
{% for p in sorted %}
   {% if p.tags contains topic %}      
       <li>
       {% include paper.html paper=p %}
       </li>
    {% endif %}
{% endfor %}
</ul>
