{% assign topic = include.topic %}
{% assign topic_display = include.name %}
{% assign first = include.first %}
{% assign topic_class = include.topic_class %}

{% assign sorted = site.papers | sort: 'date' | reverse %}
{% assign atleastone = "no" %}
<!-- {% assign atleastone = sorted | find_exp:"paper", "paper.tags contains topic" %} -->
{% for p in sorted %}
    {% if p.tags contains topic %}      
    {% assign atleastone = "yes" %}   
    {% endif %}
{% endfor %}


{% if atleastone == "yes" %}
    <span {% if first %} class="paper-list-heading first-heading" {%
        else %} class="paper-list-heading" {% endif %}
        id="{{topic}}">{{topic_display}}</span> <span style="font-size:180%">[</span> <span class="{{topic_class}}
        header-link">{{
        topic  }}</a></span> <span style="font-size:180%">]</span><hr class="topic-hr"> 
{% endif %}

<ul class="paper-list">
{% for p in sorted %}
   {% if p.tags contains topic %}      
       <li>
       {% include paper.html paper=p %}
       </li>
    {% endif %}
{% endfor %}
</ul>
