/**
 * Site header
 */
.paper {
    display: inline-grid;
    /* grid-column-gap: 20px; */
    width: 100%;
}

.paper-list li{
    list-style-type: none;
}

.paper-data {
    grid-column-start: 1;
    grid-column-end: 1;
    width:95%;
    /* max-width:750px; */
    min-width:95%;
    margin-bottom:20px;
}

.paper-pic {
    grid-column-start: 2;
    grid-column-end: 2;
    width:95%;
    max-width:100px;
}

.paper-pic img{    
    max-width: 150px;
    padding-top:30px;
    padding-left:10px;
    /* -webkit-filter: grayscale(100%); /\* Safari 6.0 - 9.0 *\/ */
    /* filter: grayscale(100%); */
}

.paper-title{
    font-size: 120%;
    font-weight:800;
    font-style:italic;
    /* background-color: rgb(250, 130, 0); */
    /* color: white !important; */
    color: rgb(26, 176, 184) !important;
    // color: black;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: -2px;
    display: inline-block;
}

.paper-authors{
    font-size: 80%;
    font-weight:200;
    font-style:italic;
}

.paper-short{
    font-size: 90%;
    /* font-weight:200; */
    /* font-style:italic; */
}

.paper-venue{
    margin-bottom:0px;
    font-size: 80%;
    font-weight:800;
    /* background-color: black; */
    /* color: white !important; */
    color: black;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    display: inline-block;
}


#research-bio {
    text-align:left;
    font-style:italic;
    font-size:90%;
    padding-left:-20px;
    padding-top:50px;
    padding-bottom:30px;
}


.paper-abstract{
    display: none;
    
}

.paper-bibtex{
    display: none;
}

.paper-year{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 120%;
    font-weight:800;
    // text-decoration: underline; 
}

pre, code{
    white-space:normal;
    font-size: 80%;
    background-color: white;
}

#papers ul{
    padding-left:0px;
    margin-top:0px;
}

.paper-list{
    padding-left:0px;
    margin-top:0px;
    margin-left:0px;
}

.tags{
    float: right;
}

.tags span a{
    font-size: 80%;
    font-weight:800;
    // font-style:italic;
    margin-top:2px;
    margin-bottom:2px;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    max-width: 140px;
    display: inline-block;
    text-decoration: none; 
}


.tags span.cnets{
    background-color: $model-color;
}

.tags span.par-le{
    background-color: $algo-color;
}

.tags span.str-le{
    background-color: $algo-color;
}

.tags span.misc{
    background-color: $misc-color;
}


.paper-list-heading.model{
    color: $model-color;
}

.paper-list-heading.algo{
    color: $algo-color;
}

.paper-list-heading.misc{
    color: $misc-color;
}

.paper-list-heading.inf{
    color: $inference-color;
}


h3.paper-list-heading {
    display: block;
    position: relative;
    margin-top: -$margin-top-header;
    padding-top: $margin-top-header;
    // visibility: hidden;
}
