---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    {{ content }}
    <div id="papers">
    {%- if site.papers.size > 0 -%}
    <h2 class="paper-list-heading">{{ page.list_title | default: "Papers" }}</h2>
    <ul class="paper-list">
      {%- for paper in site.papers -%}
      <li>
        <div class="paper">
          <div class="paper-data">
            <div class="paper-venue">
              {{ paper.venue }}
            </div><br/>
            <div class="paper-title">
            {{ paper.title | escape}}
            </div>
            <div class="paper-authors">
            {{ paper.authors }}
            </div>
            [ <a href="{{ paper.pdf }}">pdf</a> |
            <a href="#" class="bibtex">bibtex </a>
            {%- if paper.code -%}
            | <a href="{{ paper.code }}">code </a> 
            {%- endif -%}
            {%- if paper.abstract -%}
            | <a href="#" class="abstract">abstract </a>
            {%- endif -%}
            {%- if paper.supplemental -%}
            | <a href="#" class="supplemental">supplemental </a>
            {%- endif -%}
            ]
            <div class="tags">
             {%- for t in paper.tags -%}
             <span class={{t}}>{{t}}</span>
             {%- endfor -%}
            </div>
            <div class="paper-abstract">
            <pre><code>
                {{ paper.abstract | lstrip  }}
            </code></pre>
            </div>
            <div class="paper-bibtex">
            <pre><code>
                {{ paper.bibtex | lstrip }}                
            </code></pre>
            </div>
            <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} -->
            <!-- <span class="post-meta">{{ paper.date | date: date_format }}</span> -->
            <!-- <h3> -->
            <!--   <a class="paper-link" href="{{ post.url | relative_url }}"> -->
            <!--     {{ paper.title | escape }} -->
            <!--   </a> -->
            <!-- </h3> -->
            <!-- {{ paper.title | escape }} -->
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
