---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    {{ content }}
    <div id="papers">
    {%- if site.papers.size > 0 -%}
    <h2 class="paper-list-heading">{{ page.list_title | default:
    "Latest publications" }}</h2>
    <ul class="paper-list">
      {% assign sorted = site.papers | sort: 'date' | reverse %}
      {%- for p in sorted limit:10 -%}
      <li>
        {% include paper.html paper=p %}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
